@import 'src/assets/styles/variables';

.privacy-page {
  padding-top: 40px;
  padding-bottom: 70px;

  h2 {
    margin-bottom: 13px;
  }

  h3 {
    margin-bottom: 13px;
  }

  p {
    margin-bottom: 10px;
  }

  ul,
  ol {
    padding-left: 20px;
    margin: 10px 0;

    li {
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 768px) {
  .privacy-page {
    padding-top: 0;
    padding-bottom: 10px;
  }
}
