 Options -Indexes
 ErrorDocument 404 /404.php

# php_value session.cookie_secure 1

# <IfModule mod_php5.c>
#   php_flag session.use_trans_sid off
   #php_flag default_charset UTF-8
   #php_value display_errors 1
# </IfModule>
#
 <IfModule mod_php7.c>
   php_flag session.use_trans_sid off
   #php_flag default_charset UTF-8
   #php_value display_errors 1
   php_value max_input_vars 10000
 </IfModule>
 <IfModule mod_php8.c>
    php_flag session.use_trans_sid off
    #php_flag default_charset UTF-8
    #php_value display_errors 1
    php_value max_input_vars 10000
  </IfModule>

 <IfModule mod_rewrite.c>
   Options +FollowSymLinks
   RewriteEngine On
#

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*[^/])$ $1/ [L,R=301]

 RewriteCond %{REQUEST_URI} ^/about-us$
 RewriteRule ^.*$ /about-us/company/? [R=301,L]
 RewriteCond %{REQUEST_URI} ^/en/about-us$
 RewriteRule ^.*$ /en/about-us/company/? [R=301,L]
   RewriteCond %{REQUEST_URI} ^/events/$
   RewriteRule ^.*$ /events/ochnye/? [R=301,L]

# #  RewriteCond %{SERVER_PORT} !^443$
# #  RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

   RewriteBase /
   RewriteRule ^index\.php$ - [L]
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteRule . /index.php [L]

   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-l
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
   RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
   RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]


 </IfModule>
<IfModule mod_proxy_http.c>
 	RewriteCond %{HTTP_USER_AGENT} baiduspider|bingbot|embedly|facebookexternalhit|googlebot|linkedinbot|outbrain|pinterest\/0\.|pinterestbot|quora\ link\ preview|rogerbot|showyoubot|slackbot|twitterbot|vkShare|W3C_Validator|whatsapp|yandex.com\/bots [NC,OR]
 	RewriteCond %{QUERY_STRING} _escaped_fragment_
 	RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\s(.*?)\s
# 	RewriteRule ^(|.*/|.*\.html|.*\.php)$ http://prerender.design.ru/https://%{HTTP_HOST}%1 [P,L]
 </IfModule>
 <IfModule mod_dir.c>
   DirectoryIndex index.php index.html
 </IfModule>

 <IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=31536000"
    Header set X-Frame-Options SAMEORIGIN
    Header set X-XSS-Protection "1; mode=block"
 </IfModule>
#
 <IfModule mod_expires.c>
   ExpiresActive on
   ExpiresByType image/jpeg "access plus 3 day"
   ExpiresByType image/gif "access plus 3 day"
   ExpiresByType image/png "access plus 3 day"
   ExpiresByType text/css "access plus 3 day"
   ExpiresByType application/javascript "access plus 3 day"
 </IfModule>
