@import '../../../../../../assets/styles/variables';

.ClinicalGallery {
  .items-wrap {
    .row {
      padding: 6rem 0 0;

      &:last-child {
        padding: 6rem 0;
      }

      .col-name {
        width: 41.66666667%;

        a {
          color: #cf142b;
        }

        table {
          tbody {
            padding: 0;
            border-bottom: 1px solid #6a6a6a;
          }

          tr {
            display: flex;
            padding: 0;

            td {
              padding: 4px 8px;
              border-color: #6a6a6a;
            }
          }

          tr:nth-child(odd) {
            background-color: rgb(15, 15, 15);
          }

          tr td:first-child {
            color: rgba(221, 221, 221, 0.5);
          }
        }
      }

      .col-img {
        width: 50%;

        iframe {
          width: 100%;
          height: auto;
          min-height: 30rem;
        }
      }

      .col-thumbs {
        width: 8.33333333%;

        & > div {
          cursor: pointer;
          margin-bottom: 0.5rem;
          border: 0.01rem solid transparent;

          img {
            opacity: 0.9;
            display: block;

            &:hover {
              opacity: 1;
            }
          }

          &.active {
            border-color: rgb(207, 20, 43);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .ClinicalGallery {
    .items-wrap {
      .row {
        padding-left: 10px;
        padding-right: 10px;
        flex-wrap: wrap;

        .col-name {
          width: 100%;
        }

        .col-img {
          width: 100%;
          margin-bottom: 1rem;
        }

        .col-thumbs {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;

          & > div {
            max-width: 21%;
          }
        }
      }
    }
  }
}
