@import '../../../../assets/styles/variables';

.catalog-item {
  padding-top: 40px;
  padding-bottom: 40px;

  .wrapper {
    justify-content: flex-start;
  }

  &-content {
    .h2Link {
      border: none !important;
    }
  }
}

.catalog-item:nth-of-type(1) {
  padding-top: 0;
}

.catalog-item-image {
  width: 40%;
  min-width: 40%;
  margin-right: 40px;

  img {
    width: 100%;
    mix-blend-mode: darken;
  }
}

.catalog-item-text {
  p {
    line-height: 1.5;
    font-size: 18px;
  }

  h4 {
    margin-bottom: 1em;
    font-size: 18px;
    font-weight: bold;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }
}

.catalog-item-text .products {
  .products-label {
    color: #969696;
    border-bottom: 0.01rem solid rgb(235, 235, 235);
  }

  .products-list {
    a {
      display: block;
      padding: 0.5rem 1rem;
      color: rgb(150, 150, 150);
      transition: all ease-in-out 0.25s;
      border: none;

      &:hover {
        padding-left: 2rem;
        color: #c00;
      }
    }
  }
}

@media (max-width: 1024px) {
  .catalog-item .wrapper {
    flex-direction: column;
    align-items: center;

    .catalog-item-content {
      width: 100%;
    }
  }

  .catalog-item-image {
    width: 100%;
    max-width: 460px;
    margin-right: 0;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .catalog-item-image {
    margin-bottom: 10px;
  }

  .catalog-item-content {
    h2 {
      margin-bottom: 10px;
    }
  }

  .catalog-item-text {
    p {
      font-size: 14px;
      margin-bottom: 10px;
    }

    h4 {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}
