@import 'src/assets/styles/variables';

.not-found-page {
  background-color: $red;
  color: $white;
  justify-content: center;
  align-items: center;

  .wrapper {
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
      font-size: 115px;
      text-align: center;
      margin-bottom: 0;
    }

    a {
      border-bottom: 1px solid;
      color: $white;
    }
  }
}
