.default-page .btn,
.catalog-detail .btn,
.specialties-detail .btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  line-height: 1.42857143;
  user-select: none;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  height: auto;
  font-size: 120%;
  background-color: #f1f1f1;
  transition: all ease-in-out 0.15s;
  font-weight: 400;
  border: none;
  color: black !important;
  position: relative;
  padding: 0.8rem 1.3rem;

  &:hover {
    background-color: #d7d7d7;
  }
}

@media (max-width: 768px) {
  .default-page .btn,
  .catalog-detail .btn,
  .specialties-detail .btn {
    margin-top: 0;
  }
}
