@font-face {
  font-family: 'ALS Hauss';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/als_hauss_light.woff2') format('woff2');
}

@font-face {
  font-family: 'ALS Hauss';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/als_hauss_regular.woff2')  format('woff2');
}

@font-face {
  font-family: 'ALS Hauss';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/als_hauss_medium.woff2') format('woff2');
}

@font-face {
  font-family: 'ALS Hauss';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/als_hauss_bold.woff2') format('woff2');
}
