$font-color: rgba(0, 0, 0, 1);
$bg-color: #e5e5e5;
$black: rgba(0, 0, 0, 1);
$dark: rgba(25, 25, 25, 1);
$light-black: rgba(35, 35, 35, 1);
$white: rgba(255, 255, 255, 1);
$lightgrey: rgba(249, 249, 249, 1);
$grey2: rgba(200, 200, 200, 1);
$grey: rgba(123, 123, 123, 1);
$darkgrey: rgba(79, 79, 79, 1);
$red: rgba(204, 0, 0, 1);
$darkred: rgba(104, 42, 42, 1);
$overlay: rgba(0, 0, 0, 0.4);

$wrapper-width: 1140px;
$margin-bottom: 80px;
$submenu-width: 220px;
$submenu-width-mobile: 100%;
