@import '../../../../assets/styles/variables';

.catalog-detail {
  padding-top: 3rem;
  padding-bottom: 3rem;

  &__extra {
    margin-top: 3rem;

    a {
      color: #c00;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
