@import 'src/assets/styles/variables';

.publications-page {
  padding-top: 40px;
  padding-bottom: 100px;

  .h1-wrap {
    margin: 0 auto 40px;
    display: flex;
    max-width: 1140px;

    h1 {
      margin: 0;
      width: auto;
    }

    .publications-count {
      font-size: 3.2rem;
      line-height: 100%;
      font-weight: 500;
      color: grey;
      margin-left: 1rem;
    }
  }
}

.topImage {
  margin: 0 auto 1rem auto;
  display: block;
  border-bottom: 1px solid #c8c8c8;
  max-width: 100%;
}

@media (max-width: 768px) {
  .publications-page {
    padding-top: 0;
    padding-bottom: 0;

    & .h1-wrap .publications-count {
      font-size: 22px;
    }
  }
}
