@import '../../../assets/styles/variables';

.jumbo {
  font-style: italic;
  font-size: 2rem;
}

.jumbo-descr {
  font-size: 1.5rem;
  color: #777;
  text-align: right;
}

@media (min-width: 768px) {
  .specialties-detail {
    padding: 2.5rem 0;
  }
}
