@import 'src/assets/styles/variables';

.btn-contact {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 9;
  background-color: #c00;
  opacity: 0.65;
  color: #fff;
  padding: 10px 20px;
  transition: all 0.5s ease;

  &:hover {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .btn-contact {
    display: none;
  }
}
